body {
  background-color: rgb(155, 161, 123);
  padding: 0 20px;
}

h1 {
  color: snow;
  font-family: 'Abril Fatface', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 300px;
}

#button-field {
  height: 80vh;
}

.major-section {
  border: dotted 1px white;
}

#button-button {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: all 0.25s;
}
