body {
  background-color: darkolivegreen;
  padding: 0 20px;
}

h1 {
  color: snow;
  font-family: 'Abril Fatface', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 300px;
}
